<h1>Bebidas cadastradas</h1>

<%= link_to 'Cadastrar nova bebida', 
  new_establishment_beverage_path(current_user.establishment.id) %>

<% @beverages.each do |beverage| %>
  <%= render 'shared/beverage', beverage: beverage %>
<% end %>