<h1 class='title'>Bebidas cadastradas</h1>

<div class='title mb-3'>
  <%= link_to 'Cadastrar nova bebida',
               new_establishment_beverage_path(current_user.establishment.id), 
               class:'btn btn-primary' %>
</div>
<div class='card-container'>
  <% @beverages.each do |beverage| %>
    <div class='card-single mb-3'>
      <%= render 'shared/beverage', beverage: beverage %>
    </div>
  <% end %>
</div>