<h1>Cadastro de nova bebida</h1>

<% if @beverage.errors.any? %>
  <p>Observe os seguintes errros abaixo:</p>
  <ul>
    <% @beverage.errors.full_messages.each do |msg|%>
      <li>
        <%= msg %>
      </li>
    <% end %>
  <ul>
<% end %>

<%= render 'form' %>