<h1 class='title'>Cadastro de Cardápio</h1>

<% if @menu.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @menu.errors.full_messages.each do |msg|%>
     <li>
        <%= msg %>
     </li>
     <% end %>
  </ul>
<% end %>

<%= render 'form' %>