<% if @order.empty? %>
  <div class='d-flex flex-column align-items-center mt-5'>
    <p class='text-danger'>
      Não foi possível encontar o pedido. Favor, verifique o código.
    </p>
  </div>
<% end %>