<h1 class='title'>Marcadores Disponíveis</h1>

<div class='title mb-5'>
  <%= link_to 'Cadastrar novo marcador', new_tag_path, class:'btn btn-primary'  %>
<div>

<% if @tags.present? %>
  <div class='card-container mt-5'>
    <% @tags.each do |tag| %>
      <div class="card-tags" >
        <h3>#<%= tag.name %></h3>
      </div>
    <% end %>
  </div>
<% else %>
  <p class='title mt-5'>
    Não existem ainda marcadores cadastrados
  </p>
<% end %>
