<h1 class='title'>Editar Prato</h1>

<% if @dish.errors.any? %>
  <div class='d-flex flex-column align-items-center mt-5'>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @dish.errors.full_messages.each do |msg|%>
       <li class='text-danger'>
          <%= msg %>
       </li>
       <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>