<h1 class='title'>Menu de pratos</h1>

<div class='title mb-3'>
  <%= link_to 'Cadastrar novo prato', new_establishment_dish_path(@establishment.id), class:'btn btn-dark' %>
</div>
<div class='card-container'>
  <% @dishes.each do |dish| %>
    <div class='card-single mb-3'>
      <%= render 'shared/dish', dish: dish %>
    </div>
  <% end %>
</div>