<h1 class='title'>Cadastro de novo prato</h1>
<h2 class='title'>
  Restaurante <%= current_user.establishment.trade_name %>
</h2>


<% if @dish.errors.any? %>
  <div class='d-flex flex-column align-items-center mt-5'>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @dish.errors.full_messages.each do |msg|%>
       <li>
          <%= msg %>
       </li>
       <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>